@import "content-editor-overrides";

.btn-primary.btn-primary {
  background-color: hsla(217deg 89% 53% 75%);
}

.btn-primary.btn-primary:hover {
  background-color: hsl(217deg 89% 53%);
}

.btn-danger.btn-danger {
  background-color: rgba(255 30 30 50%);
}

.btn-danger.btn-danger:hover {
  background-color: rgba(255 30 30 100%);
}

.index-pagination.index-pagination {
  margin-bottom: 2rem;
}

.collapse.collapse.show.show {
  visibility: visible;
}

.social-media-preview-image.social-media-preview-image {
  border-radius: 16px !important;
}
