@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import "@fortawesome/fontawesome-free/css/all";
@import "blog";
@import "code";

@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

body {
  outline: 1px pink solid;
}

input[type="checkbox"]::after {
  display: inline-flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  color: currentcolor;
  align-items: center;
  content: "";
}

input[type="checkbox"]:checked::after {
  content: "✓";
}

.hidden-options-toggle:checked + .hidden {
  display: block;
}

.password-revealer {
  @apply absolute;

  right: 0;
  bottom: 0;
  width: 45px;
  height: 45px;
}
